@charset "UTF-8";
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap");
@import url(media.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(animate.min.css);
@import url(hover.css);
@import url(style.css);
@font-face {
  font-family: 'Akzidenz-Grotesk BQ Condensed';
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot");
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQ-BdCnd.svg#AkzidenzGroteskBQ-BdCnd") format("svg");
  font-weight: bold;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  padding: 35px 0; }
  @media screen and (max-width: 991px) {
    header {
      padding: 15px; } }
  header .header_top {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header_top h4 {
      display: block;
      text-align: center;
      font-size: 8px;
      font-family: "Bebas Neue", cursive;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 5px;
      color: #222222; }
      @media screen and (max-width: 767px) {
        header .header_top h4 {
          display: none; } }
    header .header_top .header_top_link a {
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 20px;
      display: inline-block;
      color: #000000;
      font-family: "Bebas Neue", cursive;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none; }
      header .header_top .header_top_link a:hover {
        color: #FFFFFF;
        background-color: #000000; }
    header .header_top .header_top_online a {
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      border-bottom: solid 1px black; }
      header .header_top .header_top_online a:hover {
        color: #FFFFFF;
        background-color: #000000; }
  header .contener {
    position: relative;
    max-width: 880px;
    margin: auto; }
    header .contener .link {
      position: absolute;
      left: 40%;
      top: 35%; }
      @media screen and (max-width: 767px) {
        header .contener .link {
          position: absolute;
          top: 114%;
          left: 27%; } }
    header .contener .menu-toggle {
      opacity: 1;
      background-color: transparent;
      position: absolute;
      z-index: 2;
      top: 30px;
      left: 0;
      border: none;
      width: 36px;
      height: 30px;
      outline: none; }
      @media screen and (min-width: 768px) {
        header .contener .menu-toggle {
          display: none; } }
      header .contener .menu-toggle:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: auto;
        width: 100%;
        background: linear-gradient(to bottom, #000000, #000000 20%, transparent 20%, transparent 40%, #000000 40%, #000000 60%, transparent 60%, transparent 80%, #000000 80%, #000000 100%);
        transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out; }
      header .contener .menu-toggle:after {
        opacity: 0;
        content: '×';
        color: black;
        position: absolute;
        top: 16px;
        left: -4px;
        font-family: Arial, sans-serif;
        font-size: 76px;
        line-height: 0;
        transition: opacity 0.4s ease-out; }
      header .contener .menu-toggle:active {
        transform: translateY(2px); }
      header .contener .menu-toggle:hover {
        opacity: 1; }
      .open header .contener .menu-toggle {
        opacity: 1; }
        .open header .contener .menu-toggle:before {
          opacity: 0;
          width: 0; }
        .open header .contener .menu-toggle:after {
          opacity: 1;
          transform: translate3d(0, 0, 0) rotate(360deg);
          transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out; }
    header .contener .burger {
      z-index: 1;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      overflow: hidden;
      background-color: #ebebeb; }
      header .contener .burger li {
        list-style: none;
        display: block; }
        header .contener .burger li a {
          text-transform: uppercase;
          font-size: 30px;
          text-decoration: none;
          display: inline-block;
          color: #000000;
          font-family: "Akzidenz-Grotesk BQ Condensed";
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 50px; }
      header .contener .burger:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: rgba(0, 0, 0, 0.98);
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: translateY(9999px) scale(0.04);
        overflow: hidden; }
      .open header .contener .burger {
        top: 0; }
        .open header .contener .burger:before {
          animation: menu-animation 0.8s ease-out forwards; }
      header .contener .burger ul.menu2 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        backface-visibility: hidden;
        color: red; }
        header .contener .burger ul.menu2 li {
          opacity: 0;
          text-align: center;
          transform: translate3d(0, 36px, 0); }
          header .contener .burger ul.menu2 li:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            left: auto;
            height: 100%;
            width: 0;
            overflow: hidden;
            transition: width 0.14s ease-out; }
          header .contener .burger ul.menu2 li:after {
            opacity: 0;
            content: attr(data-text);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            color: #000000;
            overflow: hidden;
            transform: translate(-24px, 6px);
            transition: transform 0.1s ease-out, opacity 0.1s ease-out; }
          header .contener .burger ul.menu2 li:hover:before {
            left: 0;
            right: auto;
            width: 100%; }
          header .contener .burger ul.menu2 li:hover:after {
            opacity: 1;
            padding: 0 20px;
            transform: translate(0px, 6px);
            transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out; }
          .open header .contener .burger ul.menu2 li {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
            .open header .contener .burger ul.menu2 li:nth-child(1) {
              transition-delay: 0.75s; }
            .open header .contener .burger ul.menu2 li:nth-child(2) {
              transition-delay: 0.85s; }
            .open header .contener .burger ul.menu2 li:nth-child(3) {
              transition-delay: 0.95s; }
            .open header .contener .burger ul.menu2 li:nth-child(4) {
              transition-delay: 1.05s; }
            .open header .contener .burger ul.menu2 li:nth-child(5) {
              transition-delay: 1.15s; }
            .open header .contener .burger ul.menu2 li:nth-child(6) {
              transition-delay: 1.25s; }
    header .contener nav {
      margin-bottom: 40px; }
      header .contener nav .menu1 {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media screen and (max-width: 767px) {
          header .contener nav .menu1 {
            display: none; } }
        header .contener nav .menu1 li {
          list-style: none;
          display: inline-block; }
          header .contener nav .menu1 li:nth-child(3) {
            padding: 0 150px 0 0; }
          header .contener nav .menu1 li:nth-child(4) {
            padding: 0 0 0 140px; }
          header .contener nav .menu1 li a {
            text-transform: uppercase;
            font-size: 15px;
            text-decoration: none;
            display: inline-block;
            color: #000000;
            font-family: "Akzidenz-Grotesk BQ Condensed";
            font-weight: 600;
            letter-spacing: 1px; }
    header .contener h4 {
      display: block;
      text-align: center;
      font-size: 8px;
      font-family: "Bebas Neue", cursive;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 5px;
      color: #222222; }
      @media screen and (max-width: 767px) {
        header .contener h4 {
          display: none; } }

.privat {
  display: flex; }
  @media screen and (max-width: 767px) {
    .privat {
      flex-direction: column; } }
  .privat .privat_img {
    background-image: url("../images/s_p_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%; }
    @media screen and (max-width: 767px) {
      .privat .privat_img {
        background-image: none; } }
  .privat .privat_content {
    background-color: #000000;
    padding: 83px 0 90px 60px;
    width: 50%; }
    @media screen and (max-width: 767px) {
      .privat .privat_content {
        background-image: linear-gradient(rgba(76, 76, 76, 0.1), #4c4c4c), url("../images/s_p_02.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 30px 15px; } }
    .privat .privat_content h2 {
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-size: 50px;
      color: #FFFFFF;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .privat .privat_content p {
      font-family: "PT Sans", sans-serif;
      font-size: 15px;
      line-height: 25px;
      color: #FFFFFF;
      font-weight: 400;
      margin-bottom: 76px; }
    .privat .privat_content .privat_link_1, .privat .privat_content .privat_link_2 {
      min-width: 155px;
      display: inline-block;
      font-family: "Bebas Neue", cursive;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 5px;
      color: #FFFFFF;
      padding: 20px 35px;
      font-weight: 600; }
      .privat .privat_content .privat_link_1:hover, .privat .privat_content .privat_link_2:hover {
        background-color: #FFFFFF;
        color: black;
        text-decoration: none; }
      .privat .privat_content .privat_link_1 .privat_link_1, .privat .privat_content .privat_link_2 .privat_link_1 {
        margin-right: 30px;
        margin-bottom: 40px; }

.menu {
  max-width: 880px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding: 80px 0; }
  @media screen and (max-width: 812px) {
    .menu {
      padding: 0px 15px 30px; } }
  .menu h3 {
    margin: 25px 0 40px 5px;
    font-family: "Akzidenz-Grotesk BQ Condensed";
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 500; }
  .menu p {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 31px; }
  .menu .menu_link_1 {
    margin-top: 35px;
    display: inline-block;
    background-color: black;
    color: #FFFFFF;
    padding: 18px 33px;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
    letter-spacing: 2px; }
    .menu .menu_link_1:hover {
      color: #000000;
      background-color: #ebebeb; }
    @media screen and (max-width: 900px) {
      .menu .menu_link_1 {
        padding: 10px 20px; } }
  .menu .menu_link_2 {
    padding: 10px 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
    margin-top: 33px;
    font-weight: 600; }
    .menu .menu_link_2:hover {
      color: #FFFFFF;
      background-color: #000000; }
    .menu .menu_link_2:after {
      content: "";
      display: block;
      width: auto;
      height: 1px;
      background-color: #7f7f7f;
      margin-top: -7px; }
  .menu .menu_corporat, .menu .menu_privat, .menu .menu_wedding, .menu .menu_online {
    width: 25%; }
    @media screen and (max-width: 991px) {
      .menu .menu_corporat, .menu .menu_privat, .menu .menu_wedding, .menu .menu_online {
        width: 50%;
        text-align: center;
        justify-content: center; } }
    @media screen and (max-width: 812px) {
      .menu .menu_corporat img, .menu .menu_privat img, .menu .menu_wedding img, .menu .menu_online img {
        margin-top: 30px; } }
    @media screen and (max-width: 414px) {
      .menu .menu_corporat, .menu .menu_privat, .menu .menu_wedding, .menu .menu_online {
        width: 100%;
        text-align: center;
        justify-content: center; } }

.choose {
  display: flex; }
  @media screen and (max-width: 767px) {
    .choose {
      display: flex;
      flex-direction: column; } }
  .choose .choose_text {
    background-color: black;
    width: 50%;
    padding: 60px; }
    @media screen and (max-width: 812px) {
      .choose .choose_text {
        padding: 50px 0; } }
    @media screen and (max-width: 500px) {
      .choose .choose_text {
        padding: 30px 15px; } }
    @media screen and (max-width: 767px) {
      .choose .choose_text {
        background-image: linear-gradient(rgba(76, 76, 76, 0.1), #4c4c4c), url("../images/s_p_02.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%; } }
    .choose .choose_text h2 {
      text-align: right;
      color: #FFFFFF;
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-size: 50px;
      line-height: 25px;
      letter-spacing: 5px;
      text-transform: uppercase; }
      @media screen and (max-width: 1000px) {
        .choose .choose_text h2 {
          font-size: 40px; } }
      @media screen and (max-width: 812px) {
        .choose .choose_text h2 {
          text-align: center; } }
      @media screen and (max-width: 500px) {
        .choose .choose_text h2 {
          font-size: 30px; } }
  .choose .choose_img {
    width: 50%;
    background-image: url("../images/coose_03.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 767px) {
      .choose .choose_img {
        width: 100%; } }

.about {
  background-color: #ebebeb;
  padding: 53px 0; }
  @media screen and (max-width: 812px) {
    .about {
      padding: 20px 15px; } }
  .about .about_fresh {
    display: flex; }
    @media screen and (max-width: 414px) {
      .about .about_fresh {
        justify-content: center; } }
    .about .about_fresh img {
      max-width: 100%;
      margin-right: 22px;
      margin-bottom: 50px; }
  .about .about_wrap {
    max-width: 880px;
    margin: auto; }
    @media screen and (max-width: 767px) {
      .about .about_wrap {
        padding: 30px 15px; } }
  .about .about_flex {
    display: flex; }
    @media screen and (max-width: 735px) {
      .about .about_flex {
        padding: 25px 15px;
        flex-direction: column; } }
    .about .about_flex .about_flex_cont {
      margin-left: 22px;
      width: 50%; }
      @media screen and (max-width: 414px) {
        .about .about_flex .about_flex_cont {
          width: 100%;
          text-align: center;
          justify-content: center;
          margin: 0; } }
    .about .about_flex h3 {
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-size: 25px;
      text-transform: uppercase;
      line-height: 25px;
      letter-spacing: 2px;
      font-weight: 500;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        .about .about_flex h3 {
          font-size: 22px;
          margin-bottom: 15px; } }
    .about .about_flex p {
      font-family: "PT Sans", sans-serif;
      font-size: 14px;
      line-height: 25px;
      font-weight: 500;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        .about .about_flex p {
          font-size: 14px; } }

.say_hello {
  padding: 80px 0 20px; }
  @media screen and (max-width: 900px) {
    .say_hello {
      padding: 30px 15px 20px; } }
  .say_hello .wrap {
    display: flex;
    max-width: 880px;
    margin: auto; }
    @media screen and (max-width: 660px) {
      .say_hello .wrap {
        flex-direction: column; } }
  .say_hello .contact {
    width: 50%; }
    @media screen and (max-width: 660px) {
      .say_hello .contact {
        width: 100%;
        text-align: center; } }
    .say_hello .contact h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 50px;
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-weight: bold;
      margin-bottom: 40px; }
      @media screen and (max-width: 660px) {
        .say_hello .contact h2 {
          text-align: center; } }
    .say_hello .contact h4 {
      font-family: "PT Sans", sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: black;
      margin-bottom: 30px; }
      .say_hello .contact h4:nth-child(2):before {
        width: 20px;
        height: 27px;
        line-height: 27px;
        margin-right: 15px;
        text-align: center;
        content: "\f3c5";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900; }
      .say_hello .contact h4:last-child:before {
        width: 20px;
        height: 27px;
        line-height: 27px;
        margin-right: 15px;
        text-align: center;
        content: "\f2a0";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900; }
  .say_hello .social {
    width: 50%; }
    @media screen and (max-width: 660px) {
      .say_hello .social {
        width: 100%;
        text-align: center; } }
    .say_hello .social h4 {
      font-family: "PT Sans", sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: black;
      margin-bottom: 40px;
      margin-top: 90px; }
      @media screen and (max-width: 414px) {
        .say_hello .social h4 {
          margin-top: 15px; } }
      .say_hello .social h4:first-child:before {
        width: 20px;
        height: 27px;
        line-height: 27px;
        margin-right: 15px;
        text-align: center;
        content: "\f0e0";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900; }
    .say_hello .social .social_icon a {
      color: #FFFFFF;
      border-radius: 50%;
      background-color: black;
      margin-right: 32px;
      display: inline-block;
      text-decoration: none;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px; }
      .say_hello .social .social_icon a:first-child:before {
        content: "\f39e";
        display: inline-block;
        font-family: "Font Awesome 5 Brands", sans-serif; }
      .say_hello .social .social_icon a:first-child:hover {
        background-color: #3b5997; }
      .say_hello .social .social_icon a:nth-child(2):before {
        content: "\f173";
        display: inline-block;
        font-family: "Font Awesome 5 Brands", sans-serif; }
      .say_hello .social .social_icon a:nth-child(2):hover {
        background-color: #3ec2f3; }
      .say_hello .social .social_icon a:nth-child(3):before {
        content: "\f16d";
        display: inline-block;
        font-family: "Font Awesome 5 Brands", sans-serif; }
      .say_hello .social .social_icon a:last-child:before {
        content: "\f0d5";
        display: inline-block;
        font-family: "Font Awesome 5 Brands", sans-serif; }
      .say_hello .social .social_icon a:last-child:hover {
        background-color: #e44c41; }

.forms {
  display: flex;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  @media screen and (max-width: 767px) {
    .forms {
      flex-direction: column; } }
  .forms iframe {
    width: 50%;
    height: auto; }
    @media screen and (max-width: 767px) {
      .forms iframe {
        width: 100%;
        height: 400px; } }
  .forms .form {
    width: 50%;
    padding: 50px 0 50px 60px;
    background-color: black; }
    @media screen and (max-width: 900px) {
      .forms .form {
        padding: 25px; } }
    @media screen and (max-width: 767px) {
      .forms .form {
        width: 100%;
        padding: 15px; } }
    .forms .form h2 {
      font-family: "Akzidenz-Grotesk BQ Condensed";
      font-weight: bold;
      color: #FFFFFF;
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 25px; }
    .forms .form .form_group {
      margin-bottom: 25px; }
    .forms .form input {
      background-color: transparent;
      padding: 20px 0 17px 23px;
      border: solid 2px #959595;
      width: 373px; }
      @media screen and (max-width: 768px) {
        .forms .form input {
          width: 100%; } }
      @media screen and (max-width: 320px) {
        .forms .form input {
          width: 100%; } }
  .forms ::-webkit-input-placeholder {
    color: #959595; }
  .forms ::-moz-placeholder {
    color: #959595; }
  .forms :-moz-placeholder {
    color: #959595; }
  .forms :-ms-input-placeholder {
    color: #959595; }
  .forms textarea {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #959595;
    resize: none;
    height: 95px;
    background-color: transparent;
    width: 373px;
    padding: 20px 0 17px 23px;
    border: solid 2px #959595; }
    @media screen and (max-width: 768px) {
      .forms textarea {
        width: 100%; } }
    @media screen and (max-width: 320px) {
      .forms textarea {
        width: 100%; } }
  .forms button {
    padding: 18px 25px;
    background-color: #FFFFFF;
    color: black;
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 3px; }

footer a, footer h4 {
  color: #4d4d4d;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    footer a, footer h4 {
      margin-bottom: 30px; } }
footer .wrap {
  padding: 44px 0 0 0;
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: auto; }
  @media screen and (max-width: 812px) {
    footer .wrap {
      padding: 30px 15px 0; } }
  @media screen and (max-width: 767px) {
    footer .wrap {
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

/*# sourceMappingURL=style_prepros.css.map */
